/*!****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/@wordpress/scripts/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/blocks/form/editor.css ***!
  \****************************************************************************************************************************************************************************************************************/
/**
 * The following styles get applied inside the editor only.
 */

.wp-block-gutenform-form {
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        .block-list-appender {
            position: relative;
            width: 100%;
            margin-top: 1rem;
        }
    }

    .is-layout-grid .gutenform-field.is-selected{
        padding-block: 0.75rem;
        padding-inline: 2px;
    }
}
/*!*****************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/@wordpress/scripts/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/skins/default/index.css ***!
  \*****************************************************************************************************************************************************************************************************************/
.wp-block-gutenform-form{
    --field-size: 100%;
    --field-padding: 1rem 1.25rem;
    --field-rounded: 0.5rem;
    --field-border: 1px solid #ccc;
    
    * {
        box-sizing: border-box;
    }

    input, textarea, select {
        width: var(--field-size);
        padding: var(--field-padding);
        border-radius: var(--field-rounded);
        border: var(--field-border);
        font-size: var(--field-font-size, inherit);
        font-family: inherit;
    }

    .gutenform-field{
        label {
            display: block;
            font-size: var(--field-label-size, 0.875rem);
            font-weight: var(--field-label-weight, 600);
            color: var(--field-label-color, #333);
            margin-bottom: var(--field-label-margin-bottom, 0.5rem);
        }

        .gutenform-field__help {
            font-size: var(--field-help-size, 0.875rem);
            color: var(--field-help-color, inherit);
            margin-top: var(--field-help-margin-top, 0.5rem);
            opacity: var(--field-help-opacity, 0.8);
            margin-bottom: 0;
        }
    }

    .gutenform-field--required {
        label::after {
            content: ' *';
            color: var(--field-required-color, #f00);
        }
    }

    .wp-block-gutenform-submit {
        button {
            width: var(--submit-width, var(--field-size));
            padding: var(--submit-padding, var(--field-padding));
            border-radius: var(--submit-rounded, var(--field-rounded, 0.5rem));
            border: var(--submit-border, var(--field-border, 1px solid #ccc));
            font-size: var(--submit-font-size, var(--field-font-size, inherit));
            font-family: inherit;
            background-color: var(--submit-background-color, var(--field-background-color, #000));
            color: var(--submit-color, var(--field-color, #fff));
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--submit-background-color-hover, var(--field-background-color-hover, #333));
                color: var(--submit-color-hover, var(--field-color-hover, #fff));
            }
        }
    }
}
