/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/@wordpress/scripts/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/blocks/honeypot/style.css ***!
  \*******************************************************************************************************************************************************************************************************************/
.gutenform-honeypot {
	display: none !important;
	visibility: hidden !important;
	position: absolute !important;
	right: -9999px !important;
	opacity: 0 !important;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden !important;
}

.gutenform-honeypot input {
	display: none !important;
}


