.wp-block-gutenform-form{
    --field-size: 100%;
    --field-padding: 1rem 1.25rem;
    --field-rounded: 0.5rem;
    --field-border: 1px solid #ccc;
    
    * {
        box-sizing: border-box;
    }

    input, textarea, select {
        display: block;
        width: var(--field-size);
        padding: var(--field-padding);
        border-radius: var(--field-rounded);
        border: var(--field-border);
        font-size: var(--field-font-size, inherit);
        font-family: inherit;
    }

    .gutenform-field{
        label {
            display: block;
            font-size: var(--field-label-size, 87.5%);
            font-weight: var(--field-label-weight, 600);
            color: var(--field-label-color, currentColor);
            opacity: var(--field-label-opacity, 1);
            margin-bottom: var(--field-label-margin-bottom, 0.5rem);
        }

        .gutenform-field__help {
            font-size: var(--field-help-size, 87.5%);
            color: var(--field-help-color, inherit);
            margin-top: var(--field-help-margin-top, 0.5rem);
            opacity: var(--field-help-opacity, 0.8);
            margin-bottom: 0;

            &:empty {
                display: none;
            }
        }
    }

    .gutenform-field--required {
        label::after {
            content: ' *';
            color: var(--field-required-color, #f00);
        }
    }

    .wp-block-gutenform-submit {
        button {
            width: var(--submit-width, var(--field-size));
            padding: var(--submit-padding, var(--field-padding));
            border-radius: var(--submit-rounded, var(--field-rounded, 0.5rem));
            font-size: var(--submit-font-size, var(--field-font-size, inherit));
            font-family: inherit;
            background-color: var(--submit-background-color, var(--field-background-color, black));
            border: var(--submit-border, var(--field-border, 1px solid white));
            color: var(--submit-color, var(--field-color, white));
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--submit-background-color-hover, var(--field-background-color-hover, black));
                color: var(--submit-color-hover, var(--field-color-hover, white));
            }
        }
    }
}