/**
 * The following styles get applied inside the editor only.
 */

.wp-block-gutenform-form {
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        .block-list-appender {
            position: relative;
            width: 100%;
            margin-top: 1rem;
        }
    }

    .is-layout-grid .gutenform-field{
        padding-block: 0.75rem;
        padding-inline: 2px;
    }
}